body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #f5f5f5;
}

textarea {
  width: 100%;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

pre {
  background: white;
  padding: 15px;
  white-space: pre-wrap;
}
footer {
  margin-top: 40px;
  text-align: center;
  color: #555;
  font-size: 14px;
}

footer hr {
  margin-bottom: 10px;
}